#city {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

#sky {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.building {
  background-color: #cccc00;
  bottom: 0;
  position: absolute;
}

.star {
  background-color: white;
  height: 1px;
  position: absolute;
  width: 1px;
}
